[Desktop Entry]
Categories=System;
Comment[pl_PL]=Zainstaluj system Antergos Linux
Comment=Zainstaluj system Antergos Linux
Comment[sk]=Nainštaluje operačný systém na disk
Exec=/usr/bin/cnchi
GenericName[pl_PL]=Live Installer
GenericName=Live Installer
Icon=cnchi
MimeType=
Name[pl_PL]=Zainstaluj Antergos Linux
Name=Zainstaluj Antergos Linux
Name[sk]=Inštalovať Antergos Linux
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
