[Desktop Entry]
Categories=System;
Comment[pl_PL]=Zainstaluj Antergos NeXT
Comment=Zainstaluj Antergos NeXT
Comment[sk]=Nainštaluje Antergos NeXT
Exec=sudo -E cnchi
GenericName[pl_PL]=Live Installer
GenericName=Live Installer
Icon=cnchi
MimeType=
Name[pl_PL]=Zainstaluj Antergos NeXT
Name=Zainstaluj Antergos NeXT
Name[sk]=Inštalovať Antergos NeXT
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
